 <div class="trend-data">
    <h5 class="trend-header"><%= header  %></h5>
    <table class="table table-condensed">
      <thead class="tbl-header">
          <tr>
              <th class="trend-name">Leaders</th>
              <th class="dol">Price</th>
              <th class="dol-chg">$ Chg</th>
              <th>% Chg</th>
              <th class="volume">Volume</th>
           </tr>
        </thead>
      <tbody>
          <% data_arr.each do |data| %>
            <% if data[:chg_sign] == "d" %>
             <tr>
                <td class="trend-name"><%= data[:name] %> (<%= link_to data[:symbol], "#"  %>)</td>
                <td class="dol"><%= data[:last].to_f.round(3) %></td>
                <td class="down dol-chg"><span class="glyphicon glyphicon-arrow-down"></span> <%= data[:chg].to_f.round(3) %></td>
                <td class="down"><%= data[:pchg].to_f.round(2) %>%</td>
                <td class="volume"><%= format_number(data[:vl]) %></td>
             </tr>
            <% else %>
             <tr>
                <td class="trend-name"><%= data[:name]%> (<%= link_to data[:symbol], "#"  %>)</td>
                <td class="dol"><%= data[:last].to_f.round(3) %></td>
                <td class="up dol-chg"><span class="glyphicon glyphicon-arrow-up"></span> <%= data[:chg].to_f.round(3) %></td>
                <td class="up"><%= data[:pchg].to_f.round(2) %>%</td>
                <td class="volume"><%= format_number(data[:vl]) %></td>
             </tr>
            <% end #end if %>
          <% end #end inner each %>
      </tbody>
    </table>
  </div>