<% provide(:title, "Welcome") %>

<div class="row">
  <% if logged_in? %>
    <aside class="col-md-6 col-md-push-6 feed">
      <section class="user_info">
        <%= render 'shared/user_information' %>
      </section>
      <section class="post_form">
        <%= render 'shared/post_form' %>
      </section>
      <div class="feed">
        <%= render "shared/feed" %>
      </div>
    </aside>

    <div class="col-md-6 col-md-pull-6 market">
      <div class="summary-data">
        <h3 class="summary">Market Summary</h3>
        <%= render "static_pages/market_summary"%>
      </div>
      <div class="market-news">
        <h3 class="market-news-header">Market and Business News</h3>
        <%= render "static_pages/market_news" %>
      </div>

      <h3 class="trend">Market Trend</h3>
      <% @market_trend.each do |header, data_arr| %>
        <%= render "static_pages/market_trend", { header: header, data_arr: data_arr } %>
      <%end #end outer each%>
    </div>
  <% else %>
    <div class="col-md-12 logout-market">
      <div class="summary-data">
        <h3 class="summary">Market Summary</h3>
        <%= render "market_summary" %>
      </div>
      <div class="market-news">
        <h3 class="market-news-header">Market and Business News</h3>
        <%= render "market_news" %>
      </div>

      <h3 class="trend">Market Trend</h3>
      <% @market_trend.each do |header, data_arr| %>
        <%= render "market_trend", { header: header, data_arr: data_arr } %>
      <%end #end outer each%>
    </div>
  <% end %>
</div>