<%# the `html: { multipart: true } enables file upload
 `multipart: true` may not be needed for Rails v4+ as uploading/deleting it still works %>
<%= form_for(@post, html: { multipart: true }) do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <div class="field">
    <%= f.text_area :content, placeholder: "How is your trading?" %>
  </div>

  <%= f.submit "Post", class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture %>
  </span>
<% end %>