<li id="post-<%= post.id %>">
  <%= gravatar_for(post.user, size: 50) %>
  <span class="user">
    <%= link_to full_name(post.user), post.user %>
  </span>
  <span class="content">
    <%= post.content %>
  </span>
  <span class="timestamp">
    Posted on <%= time_ago_in_words(post.created_at) %> ago.
  </span>
</li>