<li id="post-<%= post.id %>">
  <%= gravatar_for(post.user, size: 50) %>
  <span class="user">
    <%= link_to full_name(post.user), post.user %>
  </span>
  <span class="content">
    <%= post.content %>
  </span>
  <span class="timestamp">
    Posted on <%= time_ago_in_words(post.created_at) %> ago.
    <% if current_user?(post.user) # checks if current_user is same as user who made the post %>
      <%= link_to "delete", post,  method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </span>
</li>